#Parent{
    width: 500px;
    margin: auto;
    height: 30rem;
    margin-top: 50px;
}
body {
    background-image: url("http://www.wallpaperbetter.com/wallpaper/955/640/961/daenerys-targaryen-1080P-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1080px;
}
#Input{
    width: 600px;
    margin: auto;
}
#Search{
    color: white;
    margin-top: 0px;
}
#form1{
    color: white;
}
button{
    margin-top: 20px;
    width: 250px;
    margin-left: 170px;
}
#Body{
    font-weight: bold;

}
#Char{
    text-align: center;
}