#Parent{
    width: 500px;
    margin: auto;
    height: 30rem;
}
body {
    background-image: url("http://www.wallpaperbetter.com/wallpaper/955/640/961/daenerys-targaryen-1080P-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1080px;
}
