<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="Input" class="md-form">
        <input mdbInputDirective type="text" [(ngModel)]="searchInput" id="form1" class="form-control">
        <label for="form1" id="Search">Enter a name (eg. Walder, Jaime Lannister, Brandon Stark, ...)</label>
        <button type="button" (click)="Search();" class="btn btn-elegant waves-light" mdbWavesEffect>Go</button>
    </div>

    <div id="Parent" >
        <div class="Container" *ngIf="character">
            <div class="card">
                <div id="Char" class="card-header">CHARACTER FOUND</div>
                <div class="card-block">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td id="Body">Name</td>
                                <td id="Text">{{character.name}}</td>
                            </tr>
                            <tr>
                                <td id="Body">Born</td>
                                <td id="Text">{{character.born}}</td>
                            </tr>
                            <tr>
                                <td id="Body">Died</td>
                                <td id="Text">{{character.died}}</td>
                            </tr>
                            <tr>
                                <td id="Body">Gender</td>
                                <td id="Text">{{character.gender}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>