<div id="buttons">
  <button id="buttonMovies" (click)="GetMovies(); " type="button" class="btn btn-outline-danger" mdbWavesEffect>Get Movies</button>
  <button id="buttonMovies" (click)="GetDirectors();" type="button" class="btn btn-outline-danger" mdbWavesEffect>Get Directors</button>
</div>

<div class="movies" *ngIf="movies">
  <div class="card" *ngFor="let m of movies">

    <!--Card image-->
    <img class="img-fluid" src={{m.poster}} alt="Card image cap">

    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">{{m.title}}</h4>
      <!--Text-->
      <p class="card-text">This is a(n) {{m.genre}} movie, directed by {{m.director.firstName}} {{m.director.lastName}}. The movie is {{m.length}}
        minutes long and was released in the year {{m.yearOfRelease}}. It was well received by the public, as it gained an
        IMDB score of {{m.imdBscore}}
      </p>
    </div>
  </div>
</div>

<div id="direc" class="directors">
  <div class="card" *ngIf="directors">
    <div class="card-header">Movie directors in the database.</div>
    <!--Card content-->
    <div class="card-block">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Voornaam</th>
            <th>Naam</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let d of directors">
            <td>{{d.id}}</td>
            <td>{{d.firstName}}</td>
            <td>{{d.lastName}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>

<!--Card content-->
<div class="newDir">
<form>
  <div class="card-body">
    <!--Title-->
    <div style="text-align: center">
      <h4 class="card-title">Add Director</h4>
    </div>
    <!--Text-->
    <div class="md-form ">
      <input type="text" name="newTitle" [(ngModel)]="newID" id="form2" class="form-control" placeholder="ID">
    </div>

    <div class="md-form ">
      <input type="text" name="newFirstName" [(ngModel)]="newFirstName" id="form2" class="form-control" placeholder="First Name">
    </div>

    <div class="md-form ">
      <input type="text" name="newLastName" [(ngModel)]="newLastName" id="form2" class="form-control" placeholder="Last Name">
    </div>

    <div class="md-form ">
      <input type="text" name="newAge" [(ngModel)]="newAge" id="form2" class="form-control" placeholder="Age">
    </div>

    <div style="text-align: center">
      <button type="button" class="btn btn-outline-danger" (click)="addDirector()" mdbWavesEffect>Add</button>
    </div>
  </div>
</form>
</div>

<div class="updateMovie">
  <form>
    <div class="card-body">
      <!--Title-->
      <div style="text-align: center">
        <h4 class="card-title">Update Movie</h4>
      </div>
      <!--Text-->
      <div class="md-form ">
        <input type="text" name="newTitle" [(ngModel)]="newID" id="form2" class="form-control" placeholder="Title">
      </div>
  
      <div class="md-form ">
        <input type="text" name="newFirstName" [(ngModel)]="newFirstName" id="form2" class="form-control" placeholder="Length">
      </div>
  
      <div class="md-form ">
        <input type="text" name="newLastName" [(ngModel)]="newLastName" id="form2" class="form-control" placeholder="Genre">
      </div>
  
      <div class="md-form ">
        <input type="text" name="newAge" [(ngModel)]="newAge" id="form2" class="form-control" placeholder="IMDB Score">
      </div>
  
      <div style="text-align: center">
        <button type="button" class="btn btn-outline-danger" (click)="addDirector()" mdbWavesEffect>Update</button>
      </div>
    </div>
  </form>
</div>