#Titles{
    width: 500px;
    margin-left: 250px;
    margin-right: 100px;
    text-align: center;
    float: left;
}
#Book{
    width: 800px;
    height: 900px;
}
#Parent{
    float: left;
    clear: none;
}