<div id="Parent">
    <div id="Titles" class="card" *ngIf="books">
        <div class="card-header">Click a book to see more information</div>
        <div class="card-block">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books" >
                        <td mdbRippleRadius>{{book.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <nav>
        <ul id="Page" class="pagination pg-dark">
            <li class="page-item">
                <a (click)="GetPrevious();" class="page-link" mdbWavesEffect aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a (click)="GetPrevious();" [pageOne]="['active']" class="page-link" mdbWavesEffect>1
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="page-item">
                <a (click)="GetNext();" [pageTwo]="['active']" class="page-link" mdbWavesEffect>2</a>
            </li>
            <li class="page-item">
                <a (click)="GetNext();" class="page-link" mdbWavesEffect aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="view overlay" id="Book">
        <img src="assets/book.jpg" class="img-fluid " alt="">
        <div>

        </div>
    </div>
</div>