<br>
<div id= "opperBox">
<div id="Box">
<!--<div class="card" id="Kaart">

  
  <div class="view hm-white-slight waves-light" mdbRippleRadius>
      <img src="assets/PremierLeague.jpg" class="img-fluid" >
      <a>
          <div  [routerLink]="['/game']" class="mask"></div>
      </a>
  </div>

  
</div>-->



<div class="view overlay" id= "Kaart">
  <img src="pictures/gotbooks.jpg" class="img-fluid " alt="">
   <div class="mask rgba-black-light">
    <a>
      
    </a>
  </div>
</div>

<div class="view overlay" id= "Kaart">
  <img src="pictures/gothouses.jpg" class="img-fluid " alt="">
   <div class="mask rgba-black-light">
    <a>
      
    </a>
  </div>
</div>

<div class="view overlay" id= "Kaart">
  <img src="pictures/gotcharacters.jpg" class="img-fluid " alt="">
   <div class="mask rgba-black-light">
    <a>
      
    </a>
  </div>
</div>


</div>     
</div>      
